{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>403 Error - Lost page</title>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="SavvyBizs" name="keywords">
    <meta content="Express Expand" name="author">
    <meta content="SavvyBiz Dashboard" name="description">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="favicon.png" rel="shortcut icon">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="//fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link href="{% static 'perfect-scrollbar/css/perfect-scrollbar.min.css' %}" rel="stylesheet">
    <link href="{% static 'slick-carousel/slick/slick.css' %}" rel="stylesheet">


    <link href="{% static 'select2/dist/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap-daterangepicker/daterangepicker.css' %}" rel="stylesheet">
    <link href="{% static 'dropzone/dist/dropzone.css' %}" rel="stylesheet">
    <link href="{% static 'datatables.net-bs/css/dataTables.bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'fullcalendar/dist/fullcalendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'perfect-scrollbar/css/perfect-scrollbar.min.css' %}" rel="stylesheet">
    <link href="{% static 'slick-carousel/slick/slick.css' %}" rel="stylesheet">

    <link href="{% static 'css/main.css' %}" rel="stylesheet">
  </head>

<body class="content-box full-screen">
    {% block contents %}
    {% endblock %}
</body>
</html>